body {
	display: flex;
}

.test {
	content: 'test';
}

@font-face {
	font-family: 'Test Fonts 1';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/test-fonts-1.woff) format('woff');
}

@font-face {
	font-family: 'Test Fonts 1';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/test-fonts-1.woff2) format('woff2');
}

@font-face {
	font-family: 'Test Fonts 2';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/test-fonts-2.ttf) format('truetype');
}

@font-face {
	font-family: 'Test Fonts 3';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/test-fonts-3.otf) format('opentype');
}

@font-face {
	font-family: 'Test Fonts 4';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(/test-fonts-4.woff) format('woff');
}
